<div data-bsi-element="header-prodega" style="border-width: 0px !important;max-width: 740px;margin:auto">
    <table 
        border="0"
        cellpadding="0"
        cellspacing="0"
         align="center"
        width="740"
        bgcolor="#f4f4f4" class="mobile-full-width">
        <tbody>
            <tr>
                <td class="padding-mobile">
                    <table bgcolor="#f4f4f4"
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        class="mobile-full-width"
                        width="540">
                        <tbody>
                            <tr>
                                <td colspan="3"
                                    height="20"
                                    width="100%"
                                   ></td>
                            </tr>
                            <tr>
                                <td valign="top"
                                   class="mobile-full-width"
                                    width="540">
                                    <table align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        class="mobile-full-width"
                                        width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="100%" class="mobile-full-width"
                                                    >
                                                    <table align="left"
                                                        border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        width="100%" class="mobile-full-width">
                                                        <tbody>
                                                            <tr>
                                                                <td style="border-width: 0px !important;margin-top: 0px!important;margin-bottom: 0px !important;"
                                                                    width="60%"
                                                                    align="left"
                                                                    valign="middle"
                                                                    height="45"
                                                                    data-bsi-dropzone="logo-2">
                                                                    {% block logo_2 %}
                                                                        {% include '../../elements/nl-header-logo/template.twig' %}
                                                                    {% endblock %}
                                                                </td>
                                                                <td style="border-width: 0px !important;margin-top: 0px!important;margin-bottom: 0px !important;"
                                                                    valign="middle"
                                                                    width="40%"
                                                                    align="right"
                                                                    height="45"
                                                                    data-bsi-dropzone="preheader-2">
                                                                    {% block preheader_2 %}
                                                                        {% include '../../elements/nl-preheader/template.twig' %}
                                                                    {% endblock %}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"
                                    height="15"
                                    width="100%"
                                   ></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>