<div data-bsi-element="nl-header-logo-transgourmet-prodega"
    style="border-width: 0px !important;">
    <img data-bsi-element-part="image"
        alt="Prodega"
        border="0"
        class="logo"
        width="232"
        src="{{
        src
            ?
            : bsi_cx_asset(
                '../../../../../resources/whitelabel/logo-transgourmet_prodega.png'
            )
        }}"
        style="display: block; outline: none medium; text-decoration: none; width: 232px;" />
</div>
