{% set element = element is defined ? element : 'single-product-automated' %}
{% if switched is defined and switched == true %}
{% set order = ['description', 'image'] %}
{% else %}
{% set order = ['image', 'description'] %}
{% endif %}
{% set padding = ['0 8px 20px 0px', '0 0px 20px 8px'] %}
<table   border="0"   cellpadding="0"
   cellspacing="0" class="mobile-full-width product-card-automated"
   width="100%"  data-bsi-element="{{ element }}"
   >
   <tr><td width="100%" height="20"></td></tr>
   <tr>
      <td height="353" bgcolor="#ffffff" style="height:353px;">
         <table align="left"
            bgcolor="#ffffff"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            class="mobile-full-width"
            >
            <tr>
          
               <td colspan="3"
                  align="center"
                  valign="top"
                  bgcolor="#ffffff"
                  >
                  <a href="[product_image]"
                     target="_blank"
                     style="cursor:pointer;outline: none;color: #000; border: 0px;" class="product-link"  data-bsi-element-part="image">
                  <img alt=""
                     border="0"
                     width="160"
                     max-width="160"
                     src="{{ 'https://webshop.transgourmet.ch/images/articles/300px/{bookingNo}.jpg'}}"
                     class="product-image"
                     style="display: block; width: 160px;max-width:160px; height: auto;" />
                  </a>
               </td>
            </tr>
        
            <tr>
               <td align="left"  valign="top">
                  <table align="left"
                     bgcolor="#ffffff"
                     border="0"
                     cellpadding="0"
                     cellspacing="0"
                     style="width: 100%;">
                     <tbody>
                        <tr>
                           <td align="left"
                              style="padding-top:20px;padding-left: 24px;padding-right:24px;font-weight:bold;">
                              <a  data-bsi-element-part="link"
                                 style="cursor:pointer;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:700; font-style:normal; color: #000000; font-size: 16px;line-height:20px;margin: 0;outline: none;text-decoration: none;"
                                 href="[product_image]"
                                 target="_blank"
                                 class="product-image"
                              >
                              {name}
                              </a>
                           </td>
                        </tr>
                        <tr><td height="8" style="height: 8px;"></td></tr>
                        <tr>
                           <td align="left"
                              style="padding-bottom:20px;padding-left: 24px;padding-right:24px;">
                              <div data-bsi-element-part="plain-text"
                                 style="font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:400; font-style:normal; color: #000000; font-size: 14px;line-height:16px;margin: 0;">
                                 {description}
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td align="left"
                              valign="middle"
                              bgcolor="#ffffff"
                              style="vertical-align:middle;padding-left:24px;padding-bottom:24px">
                              <table border="0"
                                 cellpadding="0"
                                 cellspacing="0"
                                 align="left"  valign="middle" style="vertical-align:middle;">
                                 <tbody>
                                    <tr>
                                       <td align="left" style="vertical-align: top;padding-right: 5px;">
                                          <div 
                                            data-bsi-element-part="plain-text"
                                             style="font-size:16px;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:700; font-style:normal;color: #e20026;text-align: left;line-height:20px;">
                                             {iso}
                                          </div>
                                       </td>
                                       <td style="vertical-align: top;padding-right: 5px;" align="left">
                                          <div style="margin:0;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:bold; font-style:normal;color: #e20026;font-size: 32px;"
                                          >
                                             <p data-bsi-element-part="plain-text"  style="font-size:32px;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:700; font-style:normal;color: #e20026;line-height: 37px;">
                                                {price1}
                                           
                                             </p>
                                          </div>
                                       </td>
                                       <td align="left" style="vertical-align: top;">
                                          <div style="font-size:16px;text-align: left;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:bold; font-style:normal;color: #e20026;vertical-align: top;"
                                          >
                                             <p data-bsi-element-part="plain-text" style="font-size:16px;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:700; font-style:normal;color: #e20026;line-height:20px;font-size: 16px;vertical-align: top;">
                                          
                                                {price2}
                                            
                                             </p>
                                          </div>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                       
                         
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         
         </table>
      </td>
   </tr>
</table>