<table align="left"
  
    border="0"
    cellpadding="0"
    cellspacing="0"
    class="mobile-full-width"
    data-bsi-element="nl-brochure-sp-3">
    <tr>
        <td width="169" valign="top" align="left" data-bsi-dropzone="column1">
            {% include '../../elements/nl-brochure-image/template.twig' with {
                src: bsi_cx_asset(
                    '../../../../../resources/whitelabel/Image-12.png'
                )
            } %}
        </td>

        <td width="16.5"></td>

        <td width="169" valign="top" align="center" data-bsi-dropzone="column2">
            {% include '../../elements/nl-brochure-image/template.twig' with {
                src: bsi_cx_asset(
                    '../../../../../resources/whitelabel/Image-13.png'
                )
            } %}
        </td>

        <td width="16.5"></td>

        <td width="169" valign="top" align="right" data-bsi-dropzone="column3">
            {% include '../../elements/nl-brochure-image/template.twig' with {
                src: bsi_cx_asset(
                    '../../../../../resources/whitelabel/Image-14.png'
                )
            } %}
        </td>
    </tr>
    <tr>
        <td height="20px"></td>
    </tr>
</table>
