<div 
    data-bsi-element="crossteaser"  bgcolor="#f4f4f4"
    style="border-width: 0px !important;max-width:740px;margin:auto">
    <table border="0"
        cellpadding="0"
        cellspacing="0"
         align="center"
        width="740"
        class="mobile-full-width"
        bgcolor="#f4f4f4">
        <tbody>
            <tr>
                <td class="padding-mobile" style="padding-bottom: 80px;">
                    <table align="center"
                        bgcolor="#f4f4f4"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        class="mobile-full-width"
                        width="540">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <table border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        width="540"
                                        class="mobile-full-width">
                                        <tr>
                                            <td 
                                                data-bsi-element-part="formatted-text">
                                                <p 
                                                    style="font-family: 'Transgourmet','Trebuchet MS', 'sans-serif';font-weight:bold; font-style:normal; color: #000000;line-height:29px; font-size: 25px;padding: 0px 48px 0px 0px">
                                                    {{
                                                        properties.trans.crossteaser
                                                    }}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-bsi-dropzone="crossteaser-list">
                                                {% include '../../elements/nl-crossteaser-item/template.twig' %}
                                                {% include '../../elements/nl-crossteaser-item/template.twig' %}
                                                {% include '../../elements/nl-crossteaser-item/template.twig' %}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
