<div 
    data-bsi-element="nl-trenner-linie"
    style="border-width: 0px !important;min-height: auto;">
    <table border="0"
        cellpadding="0"
        cellspacing="0"
          align="center"
        width="740"
        bgcolor="#f4f4f4" class="mobile-full-width">
        <tbody>
            <tr>
                <td>
                    <table border="0"
                        cellpadding="0"
                        bgcolor="{{ styles['background-content'] }}"
                        cellspacing="0"
                        align="center"
                        width="540"
                        style="line-height:2px;" class="mobile-full-width">
                        <tbody>
                            <tr style="line-height:1px;">
                                <td width="100%" class="mobile-full-width">
                                    <table border="0"
                                        cellpadding="0"
                                        bgcolor="{{
                                        styles['background-content']
                                        }}"
                                        cellspacing="0"
                                        align="center"
                                        width="540" class="mobile-full-width">
                                        <tbody>
                                            <tr style="line-height:1px;">
                                                <td height="20" width="100%"  class="mobile-full-width"
                                                    style="line-height:1px;height:20px;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
