<div data-bsi-element="nl-footer-text" style="border-width: 0px !important;">
    <div class="fallback-font"
        data-bsi-element-part="formatted-text"
        style="font-weight:400; font-size:14px;line-height:16px;">
        {{ text ? : properties.trans.footertext|raw }}
    </div>
</div>
