<div data-bsi-element="nl-footer-text" style="border-width: 0px !important;">
    <div 
        data-bsi-element-part="formatted-text"
        style="font-weight:400; font-size:14px;line-height:16px;color:#808080 !important;">
        {{ properties.trans.footertext }}
    </div>
</div>
