<div 
    data-bsi-element="nl-body-text"  bgcolor="#f4f4f4"
    style="border-width: 0px !important;max-width: 740px;margin:auto;">
    <table border="0"
        cellpadding="0"
        cellspacing="0"
          align="center"
        width="740"
        bgcolor="#f4f4f4" class="mobile-full-width">
        <tbody>
            <tr>
                <td style="padding-bottom: 24px;" class="padding-mobile">
                    <table align="center"
                        width="540"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        class="mobile-full-width"
                        bgcolor="#f4f4f4">
                        <tbody>
                            <tr>
                                <td align="center"
                                    valign="top"
                                    width="100%"   class="mobile-full-width">
                                    <table align="left"
                                        width="540"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        class="mobile-full-width">
                                        <tbody>
                                            <tr>
                                                <td class="mobile-heading"
                                                    bgcolor="#f4f4f4"
                                                    style="background-color:#f4f4f4;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-style:normal;color: #000000;font-size: 20px;line-height:32px;text-align: left;">
                                                    <div style="padding: 0px;margin:0px;" 
                                                        data-bsi-element-part="formatted-text">
                                                       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>