<div class="block brochure-image" data-bsi-element="nl-brochure-image">
  <a data-bsi-element-part="link"
    data-bsi-link-fixed-inner-html
    href="[Broschürentitel|url=https://www.transgourmet.ch/aktionen]">
    <img data-bsi-element-part="image"
      alt=""
      border="0"
      src="{{ src }}"
      style="max-width: 169px;"
      width="169"
      class="mobile-image-fullwidth" />
  </a>
</div>