<a data-bsi-element="abmelden"
            class="footer-links"
            style="font-size: 12px;text-decoration-color: #e20026;color:#e20026 !important;"
            href="{{ properties.trans.links.abmelden }}">
            {{ properties.trans.abmelden }}
                        
        </a>