 <a data-bsi-element="datenschutz" data-bsi-element-part="link"
            class="footer-links"
            style="font-size: 12px;text-decoration-color: #e20026;color:#e20026 !important;"
            href="{{ properties.trans.links.datenschutz }}">
            {{ properties.trans.datenschutz }}
                      
        </a>