<div
    data-bsi-element="nl-intro"  bgcolor="#f4f4f4"
    style="border-width: 0px !important;max-width: 740px;margin:auto;">
    <table border="0"
        cellpadding="0"
        cellspacing="0"
          align="center"
        width="740"
        bgcolor="#f4f4f4" class="mobile-full-width">
        <tbody>
            <tr>
                <td class="padding-mobile" style="padding-bottom: 80px;">
                    <table align="center"
                        width="540"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        class="mobile-full-width"
                        bgcolor="#f4f4f4">
                        <tbody>
                            <tr>
                                <td align="center"
                                    valign="top"
                                    width="100%"   class="mobile-full-width">
                                    <table align="left"
                                        width="540"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        class="mobile-full-width">
                                        <tbody>
                                            <tr>
                                                <td class="mobile-heading"
                                                    bgcolor="#f4f4f4"
                                                    style="background-color:#f4f4f4;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-style:normal;color: #000000;font-size: 20px;line-height:32px;text-align: left;">
                                                    <div style="padding: 0px;margin:0px;"
                                                        data-bsi-element-part="formatted-text">
                                                        {# Guten Tag, {Vorname} {Nachname}
                                                        Leadtext des Newsletters
                                                        mit persönlicher
                                                        Begrüssung und
                                                        pseudo-persönlichem (
                                                        generischem) Introtext
                                                        zur Einleitung des
                                                        Newsletters. #}
                                                        <p><strong><span style="font-size: 16px; color: rgb(0, 0, 0);">Guten Tag,</span></strong><strong><span style="color: rgb(0, 0, 0);"><br></span></strong><strong><span style="font-size: 30px;"><strong><span style="color: rgb(0, 0, 0);">Thomas Ehrismann</span></strong></span></strong></p><p><br>Leadtext des Newsletters mit persönlicher Begrüssung und pseudo-persönlichem ( generischem) Introtext zur Einleitung des Newsletters.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
