<div data-bsi-element="preview" class="preview">
    <p data-bsi-element-part="plain-text"
        style="line-height:0px;font-size:0px;text-decoration:none;color:#ffffff;display: none;" class="display-in-editor">
        {{ properties.trans.preview }}
    </p>
    <div>
        &#847;&zwnj;&nbsp;
    </div>
</div>