<div class="block image"
  data-bsi-element="nl-bild"
  style="border-width: 0px !important;">
 
          <table align="center"
            bgcolor="#f4f4f4"
            border="0"
            cellpadding="0"
            cellspacing="0"
            class=" mobile-full-width"
            width="740"
            style="border:0;">
            <tbody>
              <tr>
                <td width="540" border="0" class="padding-mobile">
                  <table align="center"
                  bgcolor="#f4f4f4"
                    width="540"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                     class="mobile-full-width"
                    >
                    <tbody>
                      <tr>
                        <td 
                          data-bsi-element-part="plain-text"
                           class="mobile-full-width"
                          align="right"
                          style="font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:400; font-style:normal; color: #666666; font-size: 17px;padding: 10px 0px 10px 0">
                          {{ properties.trans.anzeige }}
                        </td>
                      </tr>
                      <tr>
                        <td  align="center"  class="mobile-full-width">
                          <img data-bsi-element-part="image"
                            alt="banner"
                            border="0"
                            src="{{ src
                ?
                  : bsi_cx_asset(
                          '../../../../../resources/whitelabel/ad.png'
                      )
          }}"
                            style="display: block; width: 540px;"
                            width="540"
                            class="mobile-full-width" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>  
  <table border="0"
    cellpadding="0"
    bgcolor="#f4f4f4"
    cellspacing="0"
    class=" mobile-full-width"
    align="center"
    width="740"
    height="40"
    style="line-height:40px;">
    <tbody>
      <tr style="line-height:40px;">
        <td height="40">
          <img src="{{ src
                ?
                  : bsi_cx_asset(
                          '../../../../../resources/whitelabel/x.png'
                      )
          }}" height="1" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
