<div class="block image"
  data-bsi-element="nl-bild"
  style="border-width: 0px !important;">
  <table border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
    bgcolor="#ffffff">
    <tbody>
      <tr>
        <td>
          <table align="center"
            bgcolor="#ffffff"
            border="0"
            cellpadding="0"
            cellspacing="0"
            class="devicewidth"
            width="540"
            style="border:0;">
            <tbody>
              <tr>
                <td width="540" border="0">
                  <table align="center"
                  bgcolor="#f4f4f4"
                    width="540"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    class="devicewidthinner-2">
                    <tbody>
                      <tr>
                        <td class="fallback-font"
                          data-bsi-element-part="plain-text"
                          align="right"
                          style="font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:400; font-style:normal; color: #666666; font-size: 17px;padding: 10px 20px 10px 0">
                          {{ properties.trans.anzeige }}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img data-bsi-element-part="image"
                            alt=""
                            border="0"
                            src="{{ src
                ?
                  : bsi_cx_asset(
                          '../../../../../resources/whitelabel/ad.png'
                      )
          }}"
                            style="display: block; width: 540px;"
                            width="540"
                            class="mobile-image-fullwidth" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table border="0"
    cellpadding="0"
    bgcolor="#ffffff"
    cellspacing="0"
    class="devicewidthinner"
    align="center"
    width="100%"
    height="40"
    style="line-height:40px;">
    <tbody>
      <tr style="line-height:40px;">
        <td height="40">
          <img src="{{ src
                ?
                  : bsi_cx_asset(
                          '../../../../../resources/whitelabel/x.png'
                      )
          }}" height="1" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
