<div data-bsi-element="nl-crossteaser-item">
    <table align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        width="100%">
        <tr>
            <td class="mobile-full-width" width="100%">
                <a href="" data-bsi-element-part="image" width="100%">
                    <img alt=""
                        border="0"
                        src="{{
                        src
                            ?
                            : bsi_cx_asset(
                                '../../../../../resources/whitelabel/banner.png'
                            )
                        }}"
                        style="border-radius: 8px;display: block;width:100%;height:128px; object-fit: cover;"
                        width="100%"
                         />
                </a>
            </td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
    </table>
</div>
