<div class="block-text left block-wrapper"
  data-bsi-element="nl-text"
  style="border-width: 0px !important;">
  <table border="0"
    cellpadding="0"
    cellspacing="0"
      align="center"
        width="740"
        bgcolor="#f4f4f4" class="mobile-full-width">
    <tbody>
      <tr>
        <td width="100%" align="center" valign="top">
          <table align="center"
            width="540"
            border="0"
            cellpadding="0"
            cellspacing="0"
            class="mobile-full-width">
            <tbody>
              <tr>
                <td align="center" valign="top" width="100%">
                  <table align="center"
                    width="100%"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    class="mobile-full-width">
                    <tbody>
                      <tr>
                        <td class="mobile-heading" 
                          bgcolor="#e20026"
                          style="background-color:#e20026;padding-right: 20px;padding-left: 20px;margin:0px;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:bold; font-style:normal;color: #ffffff;font-size: 21px;text-align: left;padding-top: 10px">
                          <p style="padding: 0px;margin:0px;"
                            class="fallback-font"
                            data-bsi-element-part="plain-text">
                            so günstig - nur einmal im Monat.
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td bgcolor="#e20026" 
                          style="background-color:#e20026;padding-top:0px;padding-bottom:0px;padding-right: 20px;padding-left: 20px;margin:0px;font-family: 'Transgourmet', 'Trebuchet MS','sans-serif';font-weight:bold; font-style:normal;color: #ffffff;text-align: left;text-transform: uppercase;word-break: break-all;margin: 0px">
                          <h1 style="font-size: 72px; margin: 10px 0px; mso-line-height-rule:exactly; line-height:100%;"
                            class="element element-wrapper wysiwyg title"
                            data-bsi-element-part="formatted-text">
                            Price Rallye
                          </h1>
                        </td>
                      </tr>
                      <tr>
                        <td class="mobile-heading2" 
                          bgcolor="#feed00"
                          style="padding-right: 20px;padding-left: 20px;margin:0px;background-color:#feed00;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:bold; font-style:normal;color: #e20026;font-size: 21px;text-align: left;">
                          <p style="padding: 0px;margin:0px;"
                            class="fallback-font"
                            data-bsi-element-part="plain-text">
                            8.5.–13.5.2023
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>