<div data-bsi-element="double-card-auto">
   
                                                       <table align="center"
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              class="mobile-full-width"
                              width="540"
                              bgcolor="{{
                              styles['background-content']
                              }}">
                              <tbody>
                                 <tr class="row-block">
                                    <td width="246"
                                       bgcolor="#ffffff"
                                       style="border: 1px solid #e5e5e5;"
                                       class="mobile-full-width-table"
                                       valign="top"
                                       data-bsi-dropzone="nl-spalten-left-auto">
                                       {% include '../single-product-automated/template.twig' %}
                                    </td>
                                    <td height="1" width="48" class="mobile-space-block">
                                       <img src="{{
                                          src
                                          ?
                                          : bsi_cx_asset(
                                          '../../../../../resources/whitelabel/x.png'
                                          )
                                          }}"
                                          height="1" />
                                    </td>
                                    <td width="246"
                                       bgcolor="#ffffff"
                                       style="border: 1px solid #e5e5e5;"
                                       valign="top"
                                       class="mobile-full-width-table"
                                       data-bsi-dropzone="nl-spalten-right-auto">
                                       {% include '../single-product-automated/template.twig' %}
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                                                    
</div>