<div class="image-col-3 block-wrapper"
    data-bsi-element="nl-brochure-3-col"
    style="border-width: 0px !important;">
    <table border="0"
        cellpadding="0"
        cellspacing="0"
        align="center"
        width="740"
        bgcolor="#f4f4f4" class="mobile-full-width">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                        bgcolor="#f4f4f4"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        class="mobile-full-width"
                        width="540">
                        <tbody>
                            <tr>
                                <td align="center" width="100%">
                                    <table border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        width="540"
                                        class="mobile-full-width">
                                        <tr>
                                            <td class="pad20"
                                                data-bsi-element-part="formatted-text">
                                                <p class="fallback-font"
                                                    style="font-family: 'Transgourmet','Trebuchet MS', 'sans-serif';font-weight:bold; font-style:normal; color: #000000; font-size: 32px;padding: 20px 20px 20px 0">
                                                    {{
                                                        properties.trans.brochuretitle
                                                    }}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center"
                                                valign="top"
                                                width="100%"
                                                style="text-align: center;font-size: 0;"
                                                class="devicewidthinner"
                                                data-bsi-dropzone="nl-brochure-3-bild-row">
                                                {% include '../../elements/nl-brochure-3-bild-row/template.twig' %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-bottom: 50px;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
