<div data-bsi-element="nl-header-logo-transgourmet"
    style="border-width: 0px !important;">
    <img data-bsi-element-part="image"
        alt="Prodega"
        border="0"
        class="logo"
        width="188"
        src="{{
        src
            ?
            : bsi_cx_asset(
                '../../../../../resources/whitelabel/logo-transgourmet.png'
            )
        }}"
        style="display: block; outline: none medium; text-decoration: none; width:188px" />
</div>
