<div 
  data-bsi-element="nl-text-black"
  style="border-width: 0px !important;">
  <table border="0"
    cellpadding="0"
    cellspacing="0"
      align="center"
        width="740"
        bgcolor="#f4f4f4" class="mobile-full-width">
    <tbody>
      <tr>
        <td align="center" valign="top"  class="mobile-full-width">
          <table align="center"
            width="540"
            border="0"
            cellpadding="0"
            cellspacing="0"
           class="mobile-full-width"
            >
            <tbody>
              <tr>
                <td align="center" valign="top"  class="mobile-full-width">
                  <table align="center"
                    width="100%"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    class="mobile-full-width"
                   >
                    <tbody>
                      <tr>
                         <td bgcolor="#e20026" align="left" class="mobile-full-width mobile-title"
                          style="background-color:#e20026;padding-top:0px;padding-bottom:0px;padding-right: 20px;padding-left: 24px;margin:0px;font-family: 'Transgourmet', 'Trebuchet MS','sans-serif';font-weight:bold; font-style:normal;color: #ffffff;text-align: left;text-transform: uppercase;word-break: break-all;margin: 0px">
                          <h1 style="font-size: 72px; margin: 10px 0px; mso-line-height-rule:exactly; line-height:100%;"
                            data-bsi-element-part="formatted-text">
                            EXPRESS 26
                          </h1>
                        </td>
                      </tr>
                      <tr>
                         <td 
                          bgcolor="#e20026" align="left"  class="mobile-full-width mobile-text"
                          style="background-color:#e20026;padding-right: 20px;padding-left: 24px;margin:0px;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:bold; font-style:normal;color: #ffffff;font-size: 21px;text-align: left;padding-bottom: 10px">
                          <p style="padding: 0px;margin:0px;"
                            data-bsi-element-part="plain-text">
                            8.5.–13.5.2023
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td  class="mobile-full-width mobile-text"
                          bgcolor="#000000" align="left"
                          style="padding-right: 20px;padding-left: 24px;margin:0px;background-color:#000000;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:bold; font-style:normal;color: #ffffff;font-size: 21px;text-align: left;">
                          <p style="padding: 0px;margin:0px;"
                            data-bsi-element-part="plain-text">
                            Der Newsletter für Prodega-Kunden
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
           </td>
      </tr>
    </tbody>
  </table>
      
</div>