<div data-bsi-element="nl-footer-address" style="border-width: 0px !important;">
    <div data-bsi-element-part="plain-text"
       
        style="font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:400; font-size:14px;line-height:16px; font-style:normal;">
        Transgourmet/Prodega <br />
        {{ properties.trans.firma }}, Lochackerweg 5, 3302 Moosseedorf, {{ properties.trans.schweiz }}
    </div>
</div>
