<!DOCTYPE html>
<html lang="en"   xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink">
    <head>
        <title>
            {{ properties.title }}
        </title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta name="x-apple-disable-message-reformatting" />
<meta content="width=device-width,initial-scale=1,target-densitydpi=device-dpi"
    name="viewport" />
<meta name="google" content="notranslate" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<meta name="x-apple-disable-message-reformatting" />
 <meta http-equiv="Content-Security-Policy" content=" media-src 'self' data: blob: *;">
        <link type="text/css" rel="stylesheet" href="{{ bsi_cx_css_href() }}"/>
         <style type="text/css">
    {% include '../../templates/email/styles/general.scss' %}
</style>

    </head>
    <body>

            <header data-bsi-dropzone="header">
                {% block header %}
                    {% include './content-elements/sections/header-1/template.twig' %}
                {% endblock %}
            </header>

            <main data-bsi-dropzone="main">
                {% block main %}

                {% endblock %}
            </main>

            <footer data-bsi-dropzone="footer">
                {% block footer %}
                    {% embed './content-elements/sections/footer-beliefern/template.twig' %}
                        {% block footer_top_1 %}

                        {% endblock %}
                    {% endembed %}
                {% endblock %}
            </footer>


    </body>
</html>
