<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ properties.title }}
        </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            {{ bsi_cx_css_inline() }}
        </style>
        <style type="text/css">
    {% include '../../templates/email/styles/general.scss' %}
</style>
        <!-- [if (gte mso 9)|(IE)]>
        <style type="text/css">
        table {
        border-collapse: collapse;
        border-spacing: 0;
        mso-table-lspace: 0pt !important;
        mso-table-rspace: 0pt !important; }
        </style>
        <![endif] -->
    </head>
    <body>
        <center>
            <header data-bsi-dropzone="header" bgcolor="#f4f4f4">
                {% block header %}

                {% endblock %}
            </header>

            <main data-bsi-dropzone="main"  bgcolor="#f4f4f4">
                {% block main %}

                {% endblock %}
            </main>

            <footer data-bsi-dropzone="footer"  bgcolor="#f4f4f4">
                {% block footer %}

                {% endblock %}
            </footer>
        </center>
   
    </body>
</html>
